<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Email Notification</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <style type="text/css">



    body,
    html{
    height: auto !important;
    }
    div {
      font-family: 'roboto';
      font-size: 16px;
      font-weight: 100;
      line-height: 1.6;
    }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
    }


    img.max-width {
      max-width: 100% !important;
    }

    @media screen and (max-width:480px) {

      .preheader .rightColumnContent,
      .footer .rightColumnContent {
        text-align: left !important;
      }

      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }

      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
        font-size: 80% !important;
        padding: 5px 0;
      }

      table.wrapper {
        width: 100% !important;
        table-layout: fixed;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
      }

      img.max-width {
        height: auto !important;
        max-width: 100% !important;
      }

      .column.of-2 {
        width: 50%;
      }

      .column.of-3 {
        width: 33.333%;
      }

      .column.of-4 {
        width: 25%;
      }

    
    }
    .description{
     border-bottom: 2px solid #FAFAFA;
   
    }
    .sizecolor
    {
        background-color: #FAFAFA;
        padding: 15px;
        border-bottom: 2px solid #FAFAFA;
    }

  </style>
</head>

<body>
  <center class="wrapper" data-link-color="#1188E6" style="height: 100%;">
  
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff" style="height: 100%;">
        <tr>
          <td valign="top" bgcolor="#ffffff" width="100%">

                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="height: 100%;">
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0"
                          style=" width: 100%; max-width:600px;" align="center">
                          <tr>
                            <td
                              style="padding:0px 0px  0px; color:#080101; text-align:left; " class="card"
                              width="100%" align="left">
                              <table class="module" role="module" data-type="text" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;"
                                data-mc-module-version="2019-10-22" data-muid="6BDUiQdFZhsDCizEB98Ltx">
                                <tbody>
                                  <tr>
                                    <td style="padding: 20px 0px 100px 0px;"
                                      height="100%" valign="top" bgcolor="">
                                      <div style="background-color:#F7CF5A; padding-top: 10px;">
                                        <img class="max-width" border="0"
                                          style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;"
                                          src="https://i.ibb.co/RgVTfcL/Group-3.png" alt="" width="100%" height=""
                                          data-proportionally-constrained="false" data-responsive="false">
                                        </div>
                                      <div style=" margin-left: 60px; margin-right: 50px; ">
                                      <div style=" text-align: justify; white-space: pre-line;">
                                      
                                        Greetings, {{applicantName}}!
                                        
                                        
                                        This is to inform you that you have exceeded schedules on your Application. For that reason, you can update your Application to avoid the schedule conflict.

        
                                        Always make sure to check your email regularly for updates.

                                        Regards,
                                        Romblon State University
  
                                        **This is automated message, Please do not reply.**
                                    </div>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                            </td>
                          
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>


  </center>
</body>

</html>